<!DOCTYPE html>
<html>
<head>
    <title>Signs</title>

</head>
	<body>
  	<h1>Pregunta</h1>
  	<h2><%= @pregunta.question%></h2>
  	<img src="graphics/a.png" alt="imagen">
  	<form action="/questions/<%= @pregunta.id %>" method="post">
  		<button type="submit" name="answer" value="true">Verdadero</button>
  		<button type="submit" name="answer" value="false">Falso</button>
  	</form>
	</body>
</html>
