<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="estrella.ico">
    <title>Signs</title>
    <style>
        body {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            font-family:"Inter", sans-serif; 
        }

        img {
            width: 200px;
            height: 150px;
            margin: 20px;
        }

        button {
            color: black;
            background-color: #6AD267;
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <h1>Pregunta</h1>
        <h2><%= @pregunta.question %></h2>
        <img src="<%= @pregunta.content_link %>" alt="imagen">
        <form action="/game/module1/exam/<%= @pregunta.id %>" method="post">
            <button type="submit" name="answer" value="true">Sí</button>
            <button type="submit" name="answer" value="false">No</button>
            <button type="submit" name="botton_next" value="true">Siguiente pregunta</button>
        </form>
    </div>
</body>
</html>