<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="estrella.ico">
    <link rel="stylesheet" href="/css/exam.css">
    <title>Signs</title>
</head>

<body>
    <div>
        <h1>Pregunta</h1>
        <h2><%= @pregunta.question %></h2>
        <img src="<%= @pregunta.content_link %>" alt="imagen">
        <form action="/game/module/<%= @n %>/exam/<%= @pregunta.id %>" method="post">
            <label>
                <input type="radio" name="answer" value="true"> Verdadero
            </label>
            <label>
                <input type="radio" name="answer" value="false"> Falso
            </label>
            <input type="submit" value="Enviar respuesta">
        </form>
    </div>
</body>
</html>

