<!DOCTYPE html>
<html>
<head>
    <title>Signs</title>

    <style>
    body {
			background-color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.container {
			display: flex;
			justify-content: center;
			gap: 20px;
		}

    .blue-stripe {
        width: 1800px;
        height: 180px;
        background-color: #A3DEFF;
        margin: 1 auto;
		position: fixed;
        top: 0%;

    }
		.box {
			width: 200px;
			height: 200px;
			background-color: #6AD267;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.box a {
			color: white;
			font-size: 24px;
			text-decoration: none;
		}
	</style>
</head>
    <body>
        <div class="blue-stripe"></div>
        <div class="container">
		<div class="box">
			<a href="/game/module1/exam">Holi 1</a>
		</div>
		<div class="box">
			<a href="pagina2.html">Holi 2</a>
		</div>
		<div class="box">
			<a href="pagina3.html">Holi 3</a>
		</div>
	</div>
    </body>
</html>