<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/estrella" href="estrella.ico">

  <title>Signs</title>
  <style>
    body {
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }
    
    .header {
      background-color: #81BFE1;
      text-align: center;
      height: 25vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .header h1 {
      font-family: "Intel", sans-serif;
      font-size: 150px;
      color: #ffffff;
      margin: 0;
    }
    
    .container {
      display: flex;
      justify-content: space-evenly;
      padding: 50px;
    }
    
    .module {
      background-color: #F6EA79;
      padding: 20px;
      text-align: center;
      font-family: "Intel", sans-serif;
    }

    .progress-bar {
      background-color: #e0e0e0;
      height: 10px;
      margin-top: 10px;
      display: block;
    }

    .progress-bar:target {
      background-color: #00aaff;
    }

    .corner-image {
      position: fixed;
      width: 300px;
      height: 300px;
      bottom: 20px;
      right: 20px;
    }

    .module img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
    
    .button-container {
      margin-top: 20px;
    }
    
    .button-container a {
      display: inline-block;
      margin-right: 10px;
      background-color: #00aaff;
      color: #ffffff;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>B I E N V E N I D O S</h1>
  </div>
    <div class="logout-button">
    <a href="/logout">Logout</a>
  </div>

  <input type="hidden" value="<%= @points[0] %>" name="module_id">
  <div class="container">
    <div class="module">
      <h2>ABECEDARIO</h2>
      <img src="/images/abecedario.png" alt="ABECEDARIO">
      <div class="button-container">
        <a href="/game/module/1/exam/1">Examen</a>
        <a href="/game/module/1/learn/1">Aprender</a>
      </div>
      <progress id="file" max="50" value="<%= @points[0] %>"> </progress>

    </div>
    
    <div class="module">
      <h2>SALUDOS</h2>
      <img src="/images/saludo.png" alt="Saludos">
        <div class="button-container">
        <a href="link_b_examen">Examen</a>
        <a href="link_b_aprender">Aprender</a>
      </div>
      <progress id="file" max="100" value="<%= @points[1] %>"> % </progress>
    </div>
    
    <div class="module">
      <h2>FAMILIA Y AMIGOS</h2>
      <img src="/images/familia.png" alt="Familia Y Amigos">
      <div class="button-container">
        <a href="link_c_examen">Examen</a>
        <a href="link_c_aprender">Aprender</a>
      </div>

      <progress id="file" max="100" value="<%= @points[2] %>"> % </progress>

    </div>
  </div>
    <img class="corner-image" src="/images/Dipper.png" alt="Corner Image">
</body>


</html>

