<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/images/hand.ico">
  <link rel="stylesheet" href="/css/game.css">

  <title>Signs</title>
</head>
<body>
  <div class="header">
    <h1>B I E N V E N I D O S</h1>
  </div>
    <div class="menu-buttons">
    <a class ="btn menu" href="/logout">Logout</a>
    <a class ="btn menu"href="/ranking">Ranking</a>
  </div>

  <input type="hidden" value="<%= @points[0] %>" name="module_id">
  <div class="container">
    <div class="module">
      <h2>ABECEDARIO</h2>
      <img src="/images/abecedario.png" alt="ABECEDARIO">
      <div class="button-container">
        <a href="/game/module/1/exam/1">Examen</a>
        <a href="/game/module/1/learn/1">Aprender</a>
      </div>
      <progress id="file" max="50" value="<%= @points[0] %>"> </progress>

    </div>
    
    <div class="module">
      <h2>SALUDOS</h2>
      <img src="/images/saludo.png" alt="Saludos">
        <div class="button-container">
        <a href="link_b_examen">Examen</a>
        <a href="link_b_aprender">Aprender</a>
      </div>
      <progress id="file" max="100" value="<%= @points[1] %>"> % </progress>
    </div>
    
    <div class="module">
      <h2>FAMILIA Y AMIGOS</h2>
      <img src="/images/familia.png" alt="Familia Y Amigos">
      <div class="button-container">
        <a href="link_c_examen">Examen</a>
        <a href="link_c_aprender">Aprender</a>
      </div>

      <progress id="file" max="100" value="<%= @points[2] %>"> % </progress>

    </div>
  </div>
    <img class="corner-image" src="/images/Dipper.png" alt="Corner Image">
    <footer>
      <p>Signs - Equipo FLDSMDFR</p>
      <p>UNRC - 2023</p>
    </footer>
</body>


</html>

