<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/estrella" href="estrella.ico">

  <title>Signs</title>
  <style>
    body {
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }
    
    .header {
      background-color: #81BFE1;
      text-align: center;
      height: 25vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .header h1 {
      font-family: "Intel", sans-serif;
      font-size: 150px;
      color: #ffffff;
      margin: 0;
    }
    
    .container {
      display: flex;
      justify-content: space-evenly;
      padding: 50px;
    }
    
    .module {
      background-color: #F6EA79;
      padding: 20px;
      text-align: center;
      font-family: "Intel", sans-serif;
    }

    .corner-image {
      position: fixed;
      width: 300px;
      height: 300px;
      bottom: 20px;
      right: 20px;
    }

    .module img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
    
    .button-container {
      margin-top: 20px;
    }
    
    .button-container a {
      display: inline-block;
      margin-right: 10px;
      background-color: #00aaff;
      color: #ffffff;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1>B I E N V E N I D O S</h1>
  </div>
  
  <div class="container">
    <div class="module">
      <h2>ABECEDARIO</h2>
      <img src="abecedario.jpg" alt="ABECEDARIO">
      <div class="button-container">
        <a href="/game/module1/exam/1">Examen</a>
        <a href="link_a_aprender">Aprender</a>
      </div>
    </div>
    
    <div class="module">
      <h2>Hola2</h2>
      <img src="hola2.jpg" alt="Hola2">
      <div class="button-container">
        <a href="link_b_examen">Examen</a>
        <a href="link_b_aprender">Aprender</a>
      </div>
    </div>
    
    <div class="module">
      <h2>Hola1</h2>
      <img src="hola1.jpg" alt="Hola1">
      <div class="button-container">
        <a href="link_c_examen">Examen</a>
        <a href="link_c_aprender">Aprender</a>
      </div>
    </div>
  </div>
    <img class="corner-image" src="/images/Dipper.png" alt="Corner Image">
</body>
</html>