<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/images/hand.ico">
	<title>Signs</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <script src="js/myscript.js"></script>
	<p>
        <h1>S I G N S</h1>
	</p> 
    <img src="images/Dipper.png">
	<div class="white-stripe"></div>

	<div class="login-form">
        <form action="/user" method="POST">
            <input type="text" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Contraseña" required><br>
            <input type="submit" value="Registrarse">

                <div class="have-account">
                    <a href="/login">Ya tengo cuenta</a>
                </div>
            </form>
        </div>
    </div>
    <img src="images/Dipper.png">
    <footer>
      <p>Signs - Equipo FLDSMDFR</p>
      <p>UNRC - 2023</p>
    </footer>
</body>
</html>
