<html>
  <body>
    <h1>Esta es la letra A</h1>
      <img src="<%= @cards.first.content_link %>">  
  </body>
  <button type="submit" name="next" value="true">SIGUIENTE</button>
</html>

            