<html>
<head>
    <link rel="shortcut icon" href="estrella.ico">
    <title>Signs</title>
    <link rel="stylesheet" href="/css/learn.css">
</head>
  <body>
      <div>
          <h1>DEFINICION</h1>
          <h2><%= @carta.description %></h2>
          <img src="<%= @carta.content_link %>" alt="imagen">
          <form action="/game/module/<%= @n %>/learn/<%= @carta.id %>" method="post">
              <button type="submit" name="next" value="false">SIGUIENTE</button>
          </form>
      </div>
  </body>

</html>

