<html>
<head>
    <link rel="shortcut icon" href="/images/hand.ico">
    <title>Signs</title>
    <link rel="stylesheet" href="/css/learn.css">
</head>
  <body>
    <div class = "options">
        <a href="/game" class = "back-button">Volver</a>
    </div>
      <div class = "card">
          <h1>DEFINICION</h1>
          <h2><%= @carta.description %></h2>
          <img src="<%= @carta.content_link %>" alt="imagen">
          <form action="/learn/<%= @module %>/<%= @carta.id %>" method="post">
              <button type="submit" name="next" value="false">SIGUIENTE</button>
          </form>
      </div>
  </body>
  <footer>
      <p>Signs - Equipo FLDSMDFR</p>
      <p>UNRC - 2023</p>
    </footer>

</html>

