<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="estrella.ico">
	<title>Signs</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
	

	<p>
        <h1>S I G N S</h1>
	</p> 
	<div class="white-stripe"></div>

    <div class="login-form">
        <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <input type="submit" value="Ingresar">
    </form>

    </div>
    <img src="images/Dipper.png">

</body>
</html>