body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    size: fit-content;
  }
  
  .header {
    background-color: #81BFE1;
    text-align: center;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header h1 {
    font-family: "Intel", sans-serif;
    font-size: 120px;
    color: #ffffff;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
  }
  
  .module {
    background-color: #F6EA79;
    padding: 20px;
    text-align: center;
    font-family: "Intel", sans-serif;
  }

  .progress-bar {
    background-color: #e0e0e0;
    height: 10px;
    margin-top: 10px;
    display: block;
  }

  .progress-bar:target {
    background-color: #00aaff;
  }

  .corner-image {
    position: fixed;
    width: 300px;
    height: 300px;
    bottom: 20px;
    right: 20px;
  }

  .module img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container a {
    display: inline-block;
    margin-right: 10px;
    background-color: #00aaff;
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn.menu{
background-color: #00aaff;
border-radius: 8px;
border-style: none;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: 500;
height: 40px;
line-height: 20px;
list-style: none;
margin: 5px;
outline: none;
padding: 10px 16px;
position: relative;
text-align: center;
text-decoration: none;
transition: color 100ms;
vertical-align: baseline;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.btn.menu:hover,
.btn.menu:focus {
background-color: #F082AC;
}


.menu-buttons{
display: flex;
justify-content: flex-start;
padding: 10px;
}