.white-stripe {
    width: 1800px;
    height: 344px;
    background-color: white;
    margin: 1 auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
body {
    background-color: #81BFE1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 250vh;
}

img {
        width: 10%;
          height: 10%;
        margin: 20px;
        backdrop-filter: brightness(100%);
}
.centered-element {
    width: 200px;
    height: 200px;
    background-color: white;

}

h1 {
    font-size: 200px;
    color: black;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 20px;
    padding: 20px;
    line-height: 121px;
}

.login-form {
text-align: center;
margin-top: 275px;
position: absolute;
}

.login-form input[type="text"],
.login-form input[type="password"] {
padding: 10px;
margin-bottom: 15px;
width: 200px;
font-family:"Inter", sans-serif;    
}

.login-form input[type="submit"] {
padding: 10px 20px;
background-color: #F6EA79;
color: black;
border: none;
cursor: pointer;
font-family:"Inter", sans-serif;

}

.login-form .have-account {
margin-top: 25px;
color: black;
font-family:"Inter", sans-serif;
}